# IDE & Editor Configurations
Code/
Cursor/
.vscode/
Kiro/
configstore/
blender/
zed/
acli/
Antigravity/
Postman/

# Development Tools & Languages
go/
gopls/
flutter/
fontforge/
nextjs-nodejs/

# Browsers
google-chrome/
.mozilla/

# Communication
discord/
vesktop/
Slack/

# Media & Entertainment
spotify/
obs-studio/
LosslessCut/
inkscape/
obsidian/
kew/lastPlaylist.m3u
kew/kewlibrary

# System & Utilities
nwg-look/
nwg-displays/
# systemd/
balenaEtcher/
yay/
easyeffects/
thefuck/
qBittorrent/
sherlock/
eog/
ranger/
nautilus/
bottom/
celluloid/
s-tui/
kew/
Thunar/
waytrogen/
qView/
libvirt/
gnome-boxes/
deluge/
AirPodsTrayApp/
rustdesk/
GIMP/

# Desktop Environment & Frameworks
kde.org/
ego/
cachyos/
gtk-3.0/
gtk-4.0/
qt6ct/
qt5ct/
xfce4/
QtProject.conf
xsettingsd/
htop/
mimeapps.list
user-dirs.dirs
user-dirs.locale
dconf/
spicetify/

# Audio
pulse/

# Electron Apps
Electron/
Notion/

*.env
temp.md
