* {
    background:     #282828;
    background-alt: #928374;
    foreground:     #EBDBB2;
    selected:       #458588;
    border:         #83A598;
    active:         #98971A;
    urgent:         #CC241D;
}
